@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  :focus {
    @apply outline-none ring-2 ring-offset-2 ring-slate-800;
  }
}

@utility container {
  padding-inline: 0.5rem;
  margin-inline: auto;
}
